.allrequests b{
    text-decoration: underline;
    background-color: #162916; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    width: 250px;

}
.allrequests b:hover{
    cursor: pointer;
    background-color:  #162916c2;
}
.requestscontainer{
    position: absolute;
    overflow-y: scroll;
    width: 480px;
	height: 420px;
	background-color: rgba(173, 173, 173, 0.397);
	color: #fff;
	
	box-sizing: border-box;
	padding-left: 90px;
	padding-top: 10px;
    margin-top: 35px;
    margin-bottom: auto;
    margin-left: 55%;
    
    
}

.AdminHead h1{
    color:black;
    font-size: 55px;
    overflow-x:visible;
    display:table;
    padding: 50px 110px;
    width: 83.75%;
    
}
.AdminHead{
    background-image: url('../bg-admin.jpeg');
    background-size: cover;
}
.AdminPage{
    color: black;
}
.selectAdmin select{
    background-color: rgb(9, 114, 9);
    width: 150px;
    height: 40px;
    font-size: x-large;
    border-radius: 8px;
    padding:0px 10px;
    font-weight: bold;
    color: white;
}
.selectAdmin select:hover{
    cursor: pointer;
}

.selectAdmin select option{
    text-align: center;
}
.selectAdmin input{
    font-size: larger;
    width:300px;
    height: 40px;
    border-radius: 8px;
    margin-left: 10px;
    padding:5px 10px;
}
.selectAdmin{
    height: 100px;
    position: absolute;
    margin-top: 100px;
    margin-left: 15%;
    padding:10px 10px;
    
    
}
.logoutAdmin{
    position: absolute;
    font-weight: bold;
    background-color: rgb(202, 31, 31);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-left: 93%;
    margin-top: 1.5%;
}
.logoutAdmin:hover{
    background-color: rgb(165, 42, 42);
}
.adminBody table{
    margin-left: 70px;
    font-size: 17px;
}
.adminBody h2{
    margin-left: 40px;
}
.approveBtn{
    background-color: green;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-left: 200px;
}
.approveBtn:hover{
    background-color: yellow;
    color: black;
}

.declineBtn{
    background-color: red;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-left: 5px;
}
.declineBtn:hover{
    background-color: yellow;
    color: black;
}

.backBtn{
    background-color: darkgreen;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-left: 93%;
    margin-top: 8px;
}
.adminBody h2{
    margin-left: 100px;
}
.details{
    margin-left: 100px;
}