.LoginBack{
    
    height:100%;
    width:100%;
    background-image: url('../wall.jpg');
    background-size: cover;
    color:#fff;
    position: fixed;

}
.Loginbox{

	width:320px;
	height: 420px;
	background: #001;
	color: #fff;
	padding-bottom:90%;
	
	box-sizing: border-box;
	position: absolute;
	padding:70px 30px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}
.User{
	width:100px;
	height:100px;
	border-radius: 50%;
	position:absolute;
	top:-50px;
	left:calc(50% -50px);

}
h1{
	margin:0;
	padding:0 0 20px;
	text-align: center;
	font-size: 22px;

}
.Loginbox p{
	margin:0;
	padding:0;
	font-weight: bold;
}
.Loginbox input{
	width:100%;
	margin-bottom: 20px;

}
.Loginbox input [type="text"],input [type="Password"]{
	border:none;
	border-bottom: 1px solof;
	background:transparent;
	outline: none;
	height: 0;
	height:40px;
	color: #fff;
	font-size: 16px;

}
.Loginbox input[type="submit"]{
	border:none;
	border-radius: 20px;
	background: #fb2525;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
}
.Loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color:#fff;

}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover{
	color:#ffc107;
}