.requestFormBody{
    padding: 15px;
    background-size: cover;
}

.requestHeader{
    text-align: center;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.493);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.requestform{
    padding: 10px;
    box-shadow: 0 10px 200px rgba(0, 0, 0, .5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details{
   width: 100%;
   margin-top: 5px;
}
.requestform label{
    font-weight: bold;
    background-color: aliceblue;
    padding: 3px
}
.Btn{
    padding: 10px 15px;
    font-weight: bold;
    background-color: darkgreen;
    color: white;
    width: auto;
    min-width: 180px;
    border-radius: 8px;
    cursor: pointer;
}
.Btnup{
    padding: 10px 15px;
    font-weight: bold;
    background-color: white;
    color: rgb(109, 109, 109);
    width: auto;
    min-width: 180px;
    border-radius: 8px;
    cursor: pointer;
}
.Btn:hover{
    background-color: rgb(59, 107, 59);
}
#submitBtn{
    margin-left: 10px;
}
#clearBtn{
    margin-left: 40px;
}
.selectFile{
    margin: 25px;
}
.requestform input,select{
    font-size: medium;
    margin-left: 15px;
    margin-top: 5px;
}

.name, .subject{
    width: 97%;
}
.details{
    font-size: 16px;
}
.myfile{
    padding: 5px;
    background-color: beige;
    font-weight: bold;
}