.reqlist b{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.reqlist{
    border-radius: 2px;
    width: 400px;
    margin-bottom: 5px;
    padding: 5px 20px;
    background-color: rgba(148, 148, 148, 0.555);
}
.reqcontainer li{
    list-style-type: none;
}
.reqlist:hover{
    cursor: pointer; 
}

.reqlist:hover b{

 color: rgb(0, 140, 255);  
 
}
.replies{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.studentrep,.adminrep{
    margin-bottom: 10px;
}
.replies .studentrep p{
    padding: 10px 10px;
}
.replies .studentrep{
    border-style: groove;
    width: fit-content;
}
.replies .adminrep{
    
    border-style: double;
    width: fit-content;
}
.replybox{
    padding-left: 20px;

}
.replybox textarea{
    width: 300px;
    height: 100px;
}
.viewReqh2{
    text-align: center;
    font-size: x-large;
    background-color: rgba(223, 213, 213, 0.493);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
