.reqlist b{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.reqlist{
    border-radius: 2px;
    width: 400px;
    margin-bottom: 5px;
    padding: 5px 20px;
    background-color: rgba(148, 148, 148, 0.692);
    margin-left: 650px;
}
.reqcontainer li{
    list-style-type: none;
}
.reqlist:hover{
    cursor: pointer; 
}

.reqlist:hover b{

 color: green;  
 font-size: larger;
 
}
.replies{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.studentrep,.adminrep{
    margin-bottom: 10px;
}
.replies .studentrep p{
    padding: 10px 10px;
}
.replies .studentrep{
    border-style: groove;
    width: fit-content;
}
.replies .adminrep{
    
    border-style: double;
    width: fit-content;
}
.replybox{
    padding-left: 20px;

}
.replybox textarea{
    width: 300px;
    height: 100px;
}
.viewReqh2{
    text-align: center;
    font-size: x-large;
    background-color: rgba(223, 213, 213, 0.493);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.backBtnStudent{
    background-color: darkgreen;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    margin-left: 94.1%;
}
.requesttableStudent td,th{
    vertical-align: top;
    height:50px;

}
.requesttableStudent th{
    width:100px;
}
.requestStudent{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 10px;
}
.requestStudent h2{
    margin-left: 100px;
}