.reqlist{
    color: rgb(0, 183, 255);
    text-decoration: underline;

}
.reqlist:hover{
 cursor: pointer; 
 color: rgb(0, 140, 255);  
}
.replies{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.studentrep,.adminrep{
    margin-bottom: 10px;
}
.replies .studentrep p{
    padding: 10px 10px;
}
.replies .studentrep{
    border-style: groove;
    width: fit-content;
}
.replies .adminrep{
    
    border-style: double;
    width: fit-content;
}
.replybox{
    padding-left: 20px;

}
.replybox textarea{
    width: 300px;
    height: 100px;
}
